body {
    background-color: #D9E5F3;
}

header {
    background-color: white;
    border-radius: 0px 0px 13px 13px;
    box-shadow: 0 5px 5px rgb(0, 87, 255, 0.18);
}

.pad-cust {
    height: 116px;
    padding: 37px 37px 27px;
}

.img-edu {
    width: 123.14px;
    height: 51px;
}